<div class="cont">
	<h2>Add New Product</h2>
	<div class="col-xs-12">

		<form class="form-horizontal" name="addProduct" novalidate>

			<div class="form-group">
		    <label for="inputname" class="col-sm-3 control-label">Brand Name</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="details.bName" name="brandName" id="inputname" placeholder="Brand Name" required>
					<p ng-show="addProduct.brandName.$error.required && addProduct.brandName.$dirty">Brand name is required.</p>
		    </div>
		  </div>

		  <div class="form-group">
		    <label for="inputname" class="col-sm-3 control-label">Product Name</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" ng-model="details.pName" name="prodName" id="inputname" placeholder="Product Name" required>
					<p ng-show="addProduct.prodName.$error.required && addProduct.prodName.$dirty">Product name is required.</p>
		    </div>
		  </div>

		  <div class="form-group">
			  <label for="Pdt" class="col-sm-3 control-label">Select Category</label>
			  <div class="col-sm-9">
			  	<select class="form-control" placeholder="select" id="Pdt" ng-options="opt for opt in options" ng-model="details.cat" name="category" required></select>
					<p ng-show="addProduct.category.$error.required && addProduct.category.$dirty">Select category.</p>
			  </div>
			</div>

		  <div class="form-group">
		    <label for="price" class="col-sm-3 control-label">Price</label>
		    <div class="col-sm-9">
		      <input type="number" min="1000" class="form-control" id="price" placeholder="Enter Price" ng-model="details.price" name="price" required>
					<p ng-show="addProduct.price.$error.required && addProduct.price.$dirty">Enter price.</p>
		    </div>
		  </div>

		    <div class="form-group">
		    <label for="qty" class="col-sm-3 control-label">Quantity</label>
		    <div class="col-sm-9">
		      <input type="number" class="form-control" id="qty" ng-model="details.qty" name="qty" placeholder="Enter Quantity" required>
					<p ng-show="addProduct.qty.$error.required && addProduct.qty.$dirty">Enter price.</p>
		    </div>
		  </div>
		  <div class="form-group">
		    <label for="desc" class="col-sm-3 control-label">Description</label>
		    <div class="col-sm-9">
		      <input type="text" class="form-control" id="desc" ng-model="details.desc" name="desc" placeholder="Enter description" required>
					<p ng-show="addProduct.desc.$error.required && addProduct.desc.$dirty">Enter decription.</p>
		    </div>
		  </div>
		  <div class="form-group">
				<label for="date" class="col-sm-3 control-label">Launched Date</label>
				<div class="col-sm-9">
					<input id="date" class="form-control datepicker" ng-model="details.date" name="launchDate" data-date-format="mm/dd/yyyy" required>
					<p ng-show="addProduct.launchDate.$error.required && addProduct.launchDate.$dirty">Enter launch date of the product.</p>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-3 control-label">Image Upload</label>
				<div class="col-sm-9">
					<!-- <form method="post" action="/upload" enctype="multipart/form-data"> -->
						<input class="image-upload" type="file" name="pdtImage"/>
						<input type="submit" name="submit" ng-click="imageUpload()" value="submit"/>
					<!-- </form> -->
				</div>
				<!-- <label for="image" class="col-sm-3 control-label">Image Upload</label> -->
				<!-- <div class="col-sm-9">
					<button>Image Upload</button>
				</div> -->
			</div>
		  <div class="form-group">
		    <div class="col-sm-offset-3 col-sm-9">
					<button type="submit" ng-click="save(details)" ng-disabled="addProduct.$invalid" class="btn btn-primary">Save</button>
		      <button type="submit" class="btn btn-default" ng-click=cancelAddProduct()>Cancel</button>
		    </div>
		  </div>


</form>
</div>
