<div class="order-wrapper" id="downloadOrder" style='display: none;'>
    <div class="order-header">
      <h1>Flipkart retail service pvt ltd</h1>
      <p>Mysore road, Bangalore, 560048</p>
      <p>Phone no: 08022445588</p>
      <h2>Cash Memo</h2>
    </div>
    <div class="order-content">
        <div class="row order-wrapper">
            <h4 class="modal-title" id="myModalLabel">Order {{data.billNo}}</h4>
            <p class="pull-left col-xs-12 col-sm-6 order-details"> Name: {{data.name}}</p>
            <p class="pull-left col-xs-12 col-sm-6 order-details"> Address: {{data.address}}</p>
            <p class="pull-left col-xs-12 col-sm-6 order-details"> Email id: {{data.email}}</p>
            <p class="pull-left col-xs-12 col-sm-6 order-details"> Contact: {{data.contact}}</p>
            <p class="pull-left col-xs-12 col-sm-6 order-details"> Date: {{data.billDate | formatDate}}</p>
        </div>
  
          <div class="clearfix">
              <table class="table table-bordered">
                 <thead class="thead-dark">
                     <tr>
                         <th class="col-xs-1"><span class="bold-font">Sr No</span></th>
                         <th class="col-xs-3"><span class="bold-font">Product Name</span></th>
                         <th class="col-xs-2"><span class="bold-font">Qty</span></th>
                         <th class="col-xs-2"><span class="bold-font">Price</span></th>
                         <th class="col-xs-2"><span class="bold-font">Amount</span></th>
                     </tr>
                 </thead>
                 <tbody class="billing-body">
                     <tr ng-repeat="pdts in data.prodDetails" class="newRow">
                       <td>{{$index+1}}</td>
                       <td>{{pdts.pName}}</td>
                       <td>{{pdts.dmndQty}}</td>
                       <td>{{pdts.price}}</td>
                       <td>{{pdts.amount}}</td>
                     </tr>
                      <tr>
                          <td colspan="3"></td>
                          <td></td>
                          <td></td>
                          <td><span class="bold-font">Total</span></td>
                          <td><span class="bold-font">{{data.total}}</span></td>
                      </tr>
                 </tbody>
              </table>
            </div>
    </div>
  </div>